<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2019. zhengweiyi.cn all rights reserved
  ~ 郑维一版权所有，未经授权禁止使用，开源项目请遵守指定的开源协议
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.zhengweiyi.weiyichild">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>